





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="./images/favicon.png" />

    <!-- Put your site title here -->
    <title>{{ page.title }} | {{ site.title }}</title>

    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="Mathias Graugaard Nielsen, C#" />
    <link rel="stylesheet" href="{{ '/blog.css' | relative_url }}" />
</head>

<body>

    <!-- ***** Header ***** -->

    <header class="header" role="banner" id="top">
        <div class="row">
            <nav class="nav" role="navigation">
                <ul class="nav__items">
                    <li class="nav__item">
                        <a href="{{ '/' | relative_url }}" class="nav__link">Portfolio</a>
                    </li>
                    <li class="nav__item">
                        <a href="{{ '/blog/' | relative_url }}" class="nav__link">Blog</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__text-box row">
            <div class="header__text">
                <h1 class="heading-primary"><span>{{ page.title }}</span></h1>
                <p>A game development project, about creating an action roguelite for a school project.</p>
            </div>
        </div>
    </header>




    <main role="main">
        <section class="blog" id="blog">
            <div class="row">
                <h2>My Blog</h2>
                <div class="blog__posts">
                    {% for post in site.posts %}
                    <article class="blog__post">
                        <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt | strip_html | truncate: 150 }}</p>
                    </article>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>

    <script src="{{ '/index.js' | relative_url }}"></script>
</body>
</html>